@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .header__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .header-menu__nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-menu__nav {
    margin-left: 88px;
  }
}

.header-menu__item {
  position: relative;
  margin-right: 50px;
}

.header-menu__item::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 0%;
  height: 4px;
  background: var(--bg-color-effect);
  border-radius: 2px;
  -webkit-transition: width var(--transition-duration) var(--animation-timing);
  transition: width var(--transition-duration) var(--animation-timing);
}

.header-menu__item:hover::after, .header-menu__item:focus::after {
  width: 100%;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}

.header-menu__link:hover, .header-menu__link:focus {
  color: var(--third-text-color);
}

.header-menu__link--current {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  -webkit-transition: width var(--transition-duration) var(--animation-timing);
  transition: width var(--transition-duration) var(--animation-timing);
}

.header-menu__link--current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: var(--bg-color-effect);
  border-radius: 2px;
}

.header-contacts {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.header-contacts__item {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header-contacts__item {
    display: none;
  }
}

.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item + .header-contacts__item {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item {
    margin-top: 21px;
    margin-bottom: 21px;
  }
  .header-contacts__item:first-child {
    margin-bottom: 10px;
  }
  .header-contacts__item:last-child {
    margin-top: 0;
  }
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secodary-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.header-contacts__link:hover svg,
.header-contacts__link:focus svg {
  fill: var(--bg-color-effect);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__link {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    line-height: 1.16;
    font-size: 12px;
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
  }
}

.header-contacts__img--envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__img--envelope {
    margin-right: 8px;
  }
}

.header-contacts__img--smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__img--smartphone {
    margin-right: 8px;
  }
}

.mobile-menu {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu:hover, .mobile-menu:focus {
  fill: var(--bg-color-effect);
}

.title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--h-text-color);
}

.pre-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--p-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --rose-section-background: #fff5f6;
  --hero-bacground: #ffb8ca;
  --modal-background: #e17992;
  --neutral-section-background: #e5e5e5;
  --p-text-color: #ffa5ba;
  --h-text-color: #d41443;
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
/*# sourceMappingURL=main.css.map */