@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 310px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 730px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1080px;
  }
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --rose-section-background: #fff5f6;
  --hero-bacground: #ffb8ca;
  --modal-background: #e17992;
  --neutral-section-background: #e5e5e5;
  --p-text-color: #ffa5ba;
  --h-text-color: #d41443;
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

.title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--h-text-color);
}

.pre-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--p-text-color);
}

.about {
  background-color: var(--rose-section-background);
  position: relative;
}

.about__text {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  padding: 0 35px;
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .about__text {
    padding-left: 0;
    margin-left: 17px;
  }
}

.about__pre-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--p-text-color);
  padding-top: 125px;
  margin-bottom: 15px;
}

.about__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--h-text-color);
}

@media screen and (max-width: 768px) {
  .about__title {
    margin-bottom: 26px;
  }
}

.about__text-description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
  padding: 0 30px;
  margin-bottom: 17px;
}

@media screen and (max-width: 768px) {
  .about__text-description {
    background-image: url(../images/about/milk-bg_mobile@1x.png);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .about__text-description {
    margin-left: 17px;
    padding-left: 0;
  }
}

.about__button {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffffff;
  margin-left: 35px;
  border: transparent;
  color: #d41443;
  margin-bottom: 39px;
}

.about__icon {
  width: 8px;
  height: 12px;
  margin-left: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .about__list {
    width: 340px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .about__list {
    width: 463px;
  }
}
/*# sourceMappingURL=main.css.map */