:root {
  --rose-section-background: #fff5f6;
  --hero-bacground: #ffb8ca;
  --modal-background: #e17992;
  --neutral-section-background: #e5e5e5;
  --p-text-color: #ffa5ba;
  --h-text-color: #d41443;
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
