:root {
  --rose-section-background:#FFF5F6;
  --hero-bacground: #FFB8CA;
  --modal-background: #E17992;
  --neutral-section-background: #E5E5E5;
  --p-text-color: #FFA5BA;
  --h-text-color: #D41443
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
