<div class="modal" data-modal="modal-form">
  <form class="modal__form">
    <div class="modal-left-decoration"></div>
    <div class="modal-right-decoration"></div>
    <div class="modal-circle"></div>
    <div class="modal__wrap">
      <h3 class="modal__title">We will contact with you immediately!</h3>
      <input class="modal-menu__input" type="text" placeholder="Name" required />
      <input class="modal-menu__input" type="tel" placeholder="Phone number" required />
      <input class="modal-menu__input" type="email" placeholder="Email" />
      <textarea class="modal-menu__textarea" placeholder="Details..." rows="4"></textarea>

      <button class="button-submit" type="submit">Call me!</button>

      <button class="button-close-modal" data-action="modal-close-form">Close</button>
    </div>
  </form>
</div>
