<div class="burger-menu">
  <button class="close-button__close" type="button">
    <svg width="14px" height="14px">
      <use class="close-button__icon" href="./images/icons.svg#close"></use>
    </svg>
  </button>

  <div class="burger-menu__container">
    <div class="burger-menu__button">
      <button class="button-order" type="button">
        <p class="button-order__text">Buy now</p>

        <svg class="button-order__icon" width="8px">
          <use href="./images/icons.svg#arrow"></use>
        </svg>
      </button>
    </div>

    <ul class="burger-menu-nav">
      <li class="burger-menu-nav__item">
        <a href="" class="burger-menu-nav__link">Home</a>
      </li>

      <li class="burger-menu-nav__item">
        <a href="" class="burger-menu-nav__link">About us</a>
      </li>

      <li class="burger-menu-nav__item">
        <a href="" class="burger-menu-nav__link">How it&rsquo;s made?</a>
      </li>

      <li class="burger-menu-nav__item">
        <a href="" class="burger-menu-nav__link">Our products</a>
      </li>

      <li class="burger-menu-nav__item">
        <a href="" class="burger-menu-nav__link">Contact</a>
      </li>
    </ul>
  </div>
</div>
