<section class="contacts" id="contacts">
    <div class="container">
        <h2 class="visually-hidden">contacts</h2>

        <ul class="contacts__list">
            <li class="contacts__item">
                <h3 class="contacts__title">CAFE</h3>
                <p class="contacts__part-name">Chicago</p>
                <p class="products__part-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <div class="contacts-border">
                    <ul class="contacts__part">
                        <li class="contacts-card">
                            <p class="contacts__part-name">Monday - Friday</p>
                            <p class="contacts__part-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-card">
                            <p class="contacts__part-name">Saturday - Sunday</p>
                            <p class="contacts__part-time">08:00 AM - 16:00 PM</p>
                        </li>
                </div>
                <ul class="contacts__adress">
                    <li>
                        <a href="tel:+61(0) 383 766 284" class="contacts__adress-tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="contacts__adress-mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>


            <li class="contacts__item">
                <h3 class="contacts__title contacts__title--truck">FOOD TRUCK</h3>
                <p class="contacts__part-name">Los Angeles</p>
                <p class="products__part-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <div class="contacts-border">
                    <ul class="contacts__part">
                        <li class="contacts-card">
                            <p class="contacts__part-name">Monday - Friday</p>
                            <p class="contacts__part-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-card">
                            <p class="contacts__part-name">Saturday - Sunday</p>
                            <p class="contacts__part-time">08:00 AM - 16:00 PM</p>
                        </li>
                </div>
                <ul class="contacts__adress">
                    <li>
                        <a href="tel:+61(0) 383 766 284" class="contacts__adress-tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="contacts__adress-mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>


            <li class="contacts__item">
                <h3 class="contacts__title">CAFE</h3>
                <p class="contacts__part-name">New york</p>
                <p class="products__part-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <div class="contacts-border">
                    <ul class="contacts__part">
                        <li class="contacts-card">
                            <p class="contacts__part-name">Monday - Friday</p>
                            <p class="contacts__part-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-card">
                            <p class="contacts__part-name">Saturday - Sunday</p>
                            <p class="contacts__part-time">08:00 AM - 16:00 PM</p>
                        </li>
                </div>
                <ul class="contacts__adress">
                    <li>
                        <a href="tel:+61(0) 383 766 284" class="contacts__adress-tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="contacts__adress-mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>



        </ul>



    </div>

</section>