<section class="section-gallery">
  <div class="">
    <picture>
      <source
        srcset="./images/people2-dsk-1x.jpg 1x, ./images/people2-dsk-2x.jpg 2x"
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/people2-tab-1x.jpg 1x, ./images/people2-tab-2x.jpg 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./src/images/gallery/gallery-mob-1x.jpg 1x,
          ./src/images/gallery/gallery-mob-2x.jpg 2x
        "
        media="(min-width:320px)"
      />
      <img src="./images/people2-dsk-1x.jpg" alt="gallery of photos" />
    </picture>
  </div>
</section>
