.header {
  border-bottom: 1px solid #ececec;
  @media screen and(max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  position: relative;
}

.header__block {
  @media screen and (min-width: 768px) {
    align-items: center;
    display: flex;
  }
}

.header-menu {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.header-menu__nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 88px;
  }
  display: flex;
  margin-left: 93px;
}

.header-menu__item {
  position: relative;
  margin-right: 50px;
  &::after {
    position: absolute;
    bottom: 0;

    content: '';
    display: block;
    width: 0%;
    height: 4px;

    background: var(--bg-color-effect);
    border-radius: 2px;

    transition: width var(--transition-duration) var(--animation-timing);
  }
  &:hover::after,
  &:focus::after {
    width: 100%;
  }
  &:last-child {
    margin-right: 0;
  }
}

.header-menu__link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
  &:hover,
  &:focus {
    color: var(--third-text-color);
  }
}

.header-menu__link--current {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--third-text-color);
  transition: width var(--transition-duration) var(--animation-timing);
  &::after {
    position: absolute;
    bottom: 0;

    content: '';
    display: block;
    width: 100%;
    height: 4px;

    background: var(--bg-color-effect);
    border-radius: 2px;
  }
}

.header-contacts {
  @media screen and(min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
  margin-left: auto;
}

.header-contacts__item {
  @media screen and(max-width: 767px) {
    display: none;
  }
  margin-right: 0;
  & + & {
    margin-left: 50px;
    @media screen and(min-width: 768px) and (max-width: 1199px) {
      margin-left: 0;
    }
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    margin-top: 21px;
    margin-bottom: 21px;
    &:first-child {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-top: 0;
    }
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secodary-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
  &:hover,
  &:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
  }
  &:hover svg,
  &:focus svg {
    fill: var(--bg-color-effect);
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: left;
    line-height: 1.16;
    font-size: 12px;
    &:hover,
    &:focus {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      color: var(--third-text-color);
    }
  }
}

.header-contacts__img--envelope {
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
}

.header-contacts__img--smartphone {
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: #757575;
}

.mobile-menu {
  @media screen and (max-width: 767px) {
    display: flex;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--bg-color-effect);
  }
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
}
